In [2]:
## Slicing 

# Data Frame
import numpy as np
import pandas as pd
data = np.array([[1,2,3,4,5],[10,20,30,40,50]])

print(data)
print(data.ndim)

df = pd.DataFrame(data, index=['row1','row2'], columns = ['col1','col2','col3','col4','col5'])
df

[[ 1  2  3  4  5]
 [10 20 30 40 50]]
2

      col1  col2  col3  col4  col5
row1     1     2     3     4     5
row2    10    20    30    40    50

In [3]:
# Access using index location 

df.iloc[0:1,2: ]

      col3  col4  col5
row1     3     4     5

In [4]:
## Access using name location

df.loc['row1':,'col2': ]

      col2  col3  col4  col5
row1     2     3     4     5
row2    20    30    40    50