In [11]:
## Operators 

# Logical ( and , or , not ) : Checks for a logical condition

print(10 < 50 and 20 < 100)
print(10 < 50 or 200 < 100)
print(not(10 < 50))

True
True
False

In [36]:
# Identity : Check if they are same objects or not - Memory location ( is and isnot)

a = [1,2,3]
b = [1,2,3]
c = a

print(a is c)

print(a is b)

print(a==b)

print(id(a))
print(id(b))
print(id(c))

True
False
True
2680405773760
2680405646016
2680405773760

In [40]:
# Membership ( in and not in) check if a sequence is present in an object

a = [1,2,3,4,5,6,7,8]

print(3 in a)
print( 3 not in a)

True
False

In [41]:
## Varibales 

a = 10

In [45]:
## Number 

print(type(10))
print(type(10.123))
print(type(10+23j))

<class 'int'>
<class 'float'>
<class 'complex'>

In [47]:
# Strings : Anything within "" or '' is a string 

print(type('1234'))
print(type('@@##'))
print(type('India'))

<class 'str'>
<class 'str'>
<class 'str'>

In [49]:
## Create 3 varibale assign a integer, float and string to them and check their type

a = 1
b = 10.2
c ="India"

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [52]:
## List : Mutable

a = [1,2,3]
print(a)
print(type(a))

[1, 2, 3]
<class 'list'>

In [53]:
## Tuple : Immutable

a = (1,2,3)
print(a)
print(type(a))

(1, 2, 3)
<class 'tuple'>

In [55]:
## Set : Unordered and no duplicates : Immutable : No indexing

a = {10,20,1,2,3,4,4,4,4,4,}
print(a)
print(type(a))

{1, 2, 3, 4, 20, 10}
<class 'set'>

In [60]:
## Dictionary : Key value pair 

a = {'a':10,'b':20,'c':30}
print(a)
print(type(a))

print(a.keys())
print(a.values())

{'a': 10, 'b': 20, 'c': 30}
<class 'dict'>
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

In [68]:
## Indexing 

a = ['I','N','D','I','A','N']

#IND
print(a[0:3])
print(a[-6:-3])

#DIA
print(a[2:5])
print(a[-4:-1])

#NDIAN
print(a[1:])
print(a[-5:])

#NDI
print(a[1:4])
print(a[-5:-2])

['I', 'N', 'D']
['I', 'N', 'D']
['D', 'I', 'A']
['D', 'I', 'A']
['N', 'D', 'I', 'A', 'N']
['N', 'D', 'I', 'A', 'N']
['N', 'D', 'I']
['N', 'D', 'I']

In [72]:
## Simple mutablility & immutability 

a = [10,20,30,40]

b = (10,20,30,40)

print(a[2])
print(b[2])

a[2]=345
print(a)

b[2]=345
print(b)

30
30
[10, 20, 345, 40]

TypeError: 'tuple' object does not support item assignment